<div class="light-green darken-4" style="padding:15px;">
    <a style=" float:right; color:white;"> SMS - GATEWAY </a>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{{ url_for('static', filename = 'marve.jpg') }}" alt="Background" width="100%" />
                </div>
                <a href=" #user"><img class="circle" src="{{ url_for('static', filename = 'user.jpg') }}"
                        alt="Background" /></a>
                <a href="#name"><span class="white-text name">Guru BK</span></a>
                <a href="#email"><span class="white-text email">Panel Admin</span></a>
            </div>
        </li>
        <li><a class="subheader">Data Master</a></li>
        <li>
            <a href="http://127.0.0.1:8080/home"><i class="material-icons">account_balance</i>Data Siswa</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8080/i_data_siswa"><i class="material-icons">account_balance</i>Data
                Pelanggaran</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8080/i_data_siswa"><i class="material-icons">account_balance</i>Data Prestasi</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8080/i_data_siswa"><i class="material-icons">account_balance</i>Data Presensi</a>
        </li>
        <li><a class="subheader">Laporan Siswa</a></li>
        <li>
            <a href="http://127.0.0.1:8080/i_data_siswa"><i class="material-icons">account_balance</i>Data
                Pelanggaran</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8080/i_data_siswa"><i class="material-icons">account_balance</i>Data Prestasi</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8080/i_data_siswa"><i class="material-icons">account_balance</i>Data Presensi</a>
        </li>
        <li><a class="subheader">Kelola SMS</a></li>
        <li>
            <a href="http://127.0.0.1:8080/i_data_siswa"><i class="material-icons">account_balance</i>SMS</a>
        </li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"
            style="color:white;">menu</i></a>
</div>